* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.4s;

}

body {
	font-family: 'Grandstander', cursive;
	line-height: 1.4;
	background-image: linear-gradient(to right top, #d16ba5, #e07498, #e9818c, #ec8f85, #ec9f82, #f1a97f, #f3b47d, #f3c07c, #f9ca74, #fdd56d, #fde166, #fbed5f);
	min-height: 100vh;
	color: white;
    padding-left: 10px;
    padding-right: 10px;
  
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.header {
	padding-bottom: 25px;
	margin: 10px;
}

.header h1 {
	
	font-size: 3.5em;
	text-align: center;
	font-family: 'Grandstander', cursive;
}
.clear {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
}

.add-to-do {
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right:5px;
	border-radius: 5px;
	background-color: #FBED5F;
	-webkit-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
}

.add-to-do i {
	font-size: 2.3em;
	padding-left: 7px;	
}

.add-to-do input {
	padding: 0 15px 0 15px;
	outline:none;
	font-size: 20px;
	border: none;
    background-color: #FBED5F;  
    border-bottom: 2px solid #FBED5F;
   font-family: 'Grandstander', cursive;
    opacity: 0.8;
}

.add-to-do input:focus {
	border-bottom: 2px solid white;

} 

#plus:hover {
	cursor: pointer;
}



.content {
	display: grid;
	
}

.item {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: flex-end;
	align-content: center;
	grid-gap: 15px;
	padding-bottom: 20px;
	font-size: 1.5em;
}

.text {
	justify-content: flex-start;
	color: black;
	font-family: 'Grandstander', cursive;
}

.text-complete {
	font-family: 'Grandstander', cursive;
	justify-content: flex-start;
	color: black;
	text-decoration: line-through;
	opacity: 0.5;
}

.done {
	color: white;
	
}
.done i:hover {
	cursor: pointer;
}
.after-done {
	opacity: 0.5;
}


.erase {
	color: white;
}

.erase i:hover {
	cursor: pointer;
}

.after-erase {
	opacity: 0.5;
}

.erase-transition {
	transition-duration: 0.8s;
	opacity: 0.3;
	transform: translateY(-50px);
}

.after-erase i:hover {
	cursor: pointer;
}

.clear:hover {
	cursor: pointer;
}
